<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li>HOME</li>
                <li>RESTAURANT</li>
                <li>LOGIN/SIGNUP</li>
            </ul>
        </nav>
        <div class="body">
            {{{body}}}
        </div>
    </body>
</html>