
<main>
    <h1>All Restaurants</h1>
    <div class="all-restaurants">
        {{#each restaurants}} <!-- for each restaurant in restaurants, create this html -->
            <section class="restaurant">
                <img class="restaurant-image" src="{{this.image}}"/>
                <h2>{{name}}</h2>
                <a href="/restaurants/{{id}}">See Restaurant</a>
            </section>
        {{/each}}
    </div> 
    <h1>Add Restaurant</h1>
    <div class="all-restaurants-form">
        <form action="/restaurants" method="post">
            <input type="text" id="name" name="name" placeholder="Restaurant Name" required>
            <br>
            <input type="text" id="image" name="image" placeholder="Restaurant Image" required>
            <input type="submit" value="Submit">
        </form>
    </div>

</main>